# A Python short course on Atmospheric Data Analysis - Week 1  

This Python tutorial was written in May 2024 by Ludving Cano, Research Assistant at the [Laboratory for Atmospheric Physics](http://www.chacaltaya.edu.bo) - UMSA (lcano@chacaltaya.edu.bo). It shows the basic usage of jupyter notebooks and basic Python structures to work with.

On **week 1** we will cover:

 - Installation (Let's make sure we all have a working Python Environment, in the cloud or locally)
 - Python & You - Our motivation and scope of the course (slides)
 - Basic Usage of Jupyter Notebooks
 - Python basics:
   - Variables
   - Operations
   - Structures: Conditionals and Loops
   - Functions
   - Importing libraries
 - How to read documentation (and not struggle in the process)

## 1. Using Jupyter notebooks

First, of all, WHERE ARE WE?

We need to learn that we are working in a **Jupyter Notebook**, it's a type of file (you can recognize it by the file extension `.ipynb`), its main advantage is that we can add easy-to-read text (rich text) and that the code is structured by cells. We will learn on how this is a great advantage (vs a regular Python script, which has the extension `.py`) later on.

On a Jupyter Notebook we can have 3 types of cells: _Code, Markdown and Raw_. The first one is self-explanatory, on the last two, we can work on this kind of texts in the former and with HTML in the latter. To see which kind of cell you are on, double click it and it will show you the type in a dropdown above.

**To RUN a cell**, do a click over it and press _Run_ in the toolbar. If you don't want to use the mouse, press `Shift + Enter`

In [2]:
print("You've succesfully run your first cell, Hello world!")

You've succesfully run your first cell, Hello world!

Pretty easy, right? Take into account some things:
- **Variables are shared between cells**: This can be helpful or a pain sometimes, but in most cases can save us some time changing a cell and just executing that cell (we will use this for plotting).
- **Plots are convenient**: Adding some 'magic commands' we can play with different plotting interfaces.
- **Some data is better displayed on ipynb files**: For example Pandas Dataframes or netCDF4 summaries are better seen here.

But not it's not all a bed of roses, some caveats of using Jupyter Notebook are:
- **Not everybody uses Jupyter**: It's a well used tool for educational purposes (such are now), but sometimes you just want to run a script (`.py`) and nothing else, we will work with pure scripts later.
- **You can't call functions**: For example, here I define a variable or a function, we can't call this function from another file, and this is possible in python scripts.
- **We are using a browser/software**: This will consume memory, for the better or the worse, we can edit a python script even with a notepad or even in the same terminal.
- **Sometimes we want to run everything everytime**: Yeah... This takes some extra clicks on Jupyter, but with a script we can execute from the terminal.

Personally, I don't use Jupyter unless it's necessary (or if I want to use colab). At the end it's your decision and how comfortable are you with the way you code.

## 2. Python Basics

*Insert a dramatic voice:  


<p style="text-align: center;">Weeeelcome to the fantastic world of Python, where everything is possible with the right library!</p>

<div>
<img src="figs/memes/harry.jpeg" width="200"/>
</div>

Jokes aside, Python can be easy once you learn how to treat it. Now we will cover the most basic knowledge of it.

### 2.1. Variables
What is variable? Something that varies (ha ha ha).  
A variable can be everything, a number, your name, a collection of all of your ex's or even the accumulated precipitation at a certain observatory in 2023.

A variable have two main parts: its name and its value assignated. To create a variable we write `var_name = var_value`, where `var_value` can be everything.

For now, we will focus on the basic types of variables:

**2.1.1. Integer `int`**: An integer, such as 10, 20, -10

In [3]:
a = 10
type(a) #to know the type of a certain variable, use the function type()

int

**2.1.2. Float `float`**: A floating point number, that is, a number with decimals.

In [4]:
b = 3.14
type(b)

float

something to take into account is that any division (also between integers) gives us a float

In [8]:
a + 1

11

and to convert an `int` to `float`, or viceversa, we can use the functions `int()` or `float()`, respectively. *Important: If you use int() with a decimal number you get the floor function (e.g. 2.9 becomes 2)*

In [16]:
type(float(10))

float

In [14]:
int(2.98)

2

**2.1.3. String `str`**: It's a...word, a character collection, even symbols or numbers. They are recognized by the apostrophes '

In [23]:
name = 'Luuuud \t Cano'
print(name)

Luuuud 	 Cano

again, we can convert a string to a float or viceversa using the respective functions

In [24]:
str(10.45)

'10.45'

In [28]:
int(float('2.156'))

2

In [30]:
float('2.5') + 2

4.5

**2.1.4. Booleans `bool`**: This is a binary variable, it can take a value of True or False, and they are pretty useful for logical operators. We will see its uses with operators.

In [31]:
a = True
b = False
type(a)

bool

In [33]:
not a

False

**2.1.4. Lists `list`**: Okay this is kind of different, it's also called an _structure_, a list is a _collection_, that is, it can have different types of variables inside of it. It's _ordered and mutable_.

It's the most basic way of storing data, as example we can have the list of research assistants of the lab:

In [34]:
assistants = ['Lud', 'Belen', 'Wara', 'Alan', 'Gabriel']

But it's not limited to it, we can have integers, floats, and even lists as elements of a list.

In [35]:
crazy_list = ['a string', 100, 13.5, ['oh no, another list', 6]]

For now we won't see much more of lists, wait until we reach indexing.

### 2.2. Operations
So, we can do things with this variables. Adition, substraction, multiplication and division can be easy (between integers and floats). Let's see some extra operations here:

In [36]:
# Suma +
# Resta -
# Multiplicacion *
# Division /
# Modulo %

# Given three variables:
a = 10
b = 3
c = 2.5

# Sum (just as example)
s = a + b
print('The sum is', s)

# Modulus (the residual of the division, example 10/3 is 3 with a r=1), uses % as symbol
r = a%b
print('The residual is', r)

The sum is 13
The residual is 1

Now, we can do some things with strings, just as example if we want to concatenate two strings, we can add them up.

In [37]:
name = 'Albert'
surname = 'Einstein'

fullname = name + surname
fullname

'AlbertEinstein'

In [38]:
# it's missing a whitespace between them, we can add it in the following cell
fullname = name + ' ' + surname
fullname

'Albert Einstein'

Now, we can compare two values and we will get a boolean as result, these operators are:
- `==` (equal to)
- `!=` (not equal to)
- `<=` (less or equal than)
- `>=` (greater or equal than)

In [43]:
num1 = 10 #aqui solo defino una variable

#aqui la comparo
num1 < 20

True

In [47]:
a = 10
b = 5
c = 2

a == (b/c)

False

### 2.3. Conditionals and Loops
### Conditionals
We are getting better with this! Now we will learn some important structures, the conditionals and loops.

A conditional, as its name says, is when we use a condition to do something. For example if my hear rate is higher than 160, the code must say that I have to rest.

In [49]:
heart_rate = 110 #try changing the value

# now we apply the condition
if heart_rate >= 160:
    print('Rest please')

Now, what is we want that, if our heart rate is less than 160, the code must say that we can keep running, we will use an `else`, that is (in Spanish _sino, haz esto_), for this the value simply should not comply the condition (so they should be mutually exclusive).

In [50]:
heart_rate = 150 #try changing the value

# now we apply the condition
if heart_rate >= 160:
    print('Rest, please')
else:
    print('Keep running!')

Keep running!

Finally, if my heart rate is zero, the code have to ask if I'm okay (zero pulse is baaaad). So we need two conditions and the keep running that is when we don't comply any of those two conditions, for this we use an `elif`, which allows us to put another condition to the structure:

In [ ]:
heart_rate = 0 #try changing the value

# now we apply the condition
if heart_rate >= 160:
    print('Rest, please')
elif heart_rate == 0:
    print('Are you ok?')
else:
    print('Keep running!')
    
## IMPORTANT: The ELSE should be always at the end!!! It's the last option!

Before doing and exercise, we can do some conditions that are a bit more complicated, for example, if we want to know whether a value is between two we can do:

In [54]:
heart_rate = 200

50 <= heart_rate <= 200 #this is the condition that should be in the if structure

True

<b><font color="blue" size=5>Exercise 1: You take my Breath Away (CO2)</font></b>

According to the [Wisconsin Department of Health Sciences](https://www.dhs.wisconsin.gov/chemical/carbondioxide.htm#:~:text=400%20ppm%3A%20average%20outdoor%20air,stagnant%2C%20stale%2C%20stuffy%20air.), the levels of CO2 in a space and its effects on the health are the following:


<div>
<img src="figs/co2_ex.png" width="800"/>
</div>


Given a variable called `ppm`, create a code that shows alert messages for these levels, you don't have to put all the levels described above, put 3 conditions at maximum (and an else).

In [ ]:
# Solution
ppm = 300 #example, replace this value for testing!


# put your solution here

<details><summary><b><font color="blue">Click here for the solution to Exercise 1</font></b></summary>

```
# For example I put the following conditions:
    
if 400 <= ppm <= 2000:
    print('Check how are you feeling, take caution')
elif 2000 < ppm <= 5000:
    print("It would be a good idea to go out")
elif ppm > 40000:
    print("RUN!")
else:
    print("Levels of CO2 are...weird, is your device ok?")
```

### LOOPS
This part gets interesting, a computer can do calculations WAY faster than us, so we can give it 1000 operations and it will take some seconds (or less). 

Sometimes we want to repeat a process many times, for example, we want to test different ppms for the previous example, or we want for the code to run while a condition is met, and stop it otherwise.

For this, python has two loops, which I'll describe in a very simple way:

- `for`: It runs a definite number of times, we need a range or list where to iterate and we get an *iterator*.
- `while`: Runs indefinitely with a condition, if the condition fails, it stops. **Be cautious with this**

The `for` structure is pretty easy
```
for i in what_to_iterate:
    do things
```

The `what_to_iterate` is something like a range (we can create a sequence of numbers using `range(start, stop+1, step)` (find a good [guide](https://www.geeksforgeeks.org/python-range-function/) here). For each loop of the code, the iterator adopts the value of the iterator in that step, for example, in the first iteration it will become the first one, then the second one, etc.

In [61]:
for i in range(2,150,8):
    print("Holii", i)
    
# we notice that we don't get the 10, it's because the upper limit is exclusive, so the range runs until 10-1=9

Holii 2
Holii 10
Holii 18
Holii 26
Holii 34
Holii 42
Holii 50
Holii 58
Holii 66
Holii 74
Holii 82
Holii 90
Holii 98
Holii 106
Holii 114
Holii 122
Holii 130
Holii 138
Holii 146

Something fantastic in python is that we can iterate over a list and the iterator becomes each element on the list, this is useful to calculate something for each element of the list:

In [63]:
names = ['Juan', 'Maria', 'Pedro', 'Eustaquio']

for n in names:
    print('Hola', n) #name becomes each element of the list, then we print the greeting for each one

Hola Juan
Hola Maria
Hola Pedro
Hola Eustaquio

This can get useful, we can add a counter to know how many times we run the code, we start it as 0 before the loop and add 1 to the counter when the iteration starts over

In [64]:
names = ['Juan', 'Maria', 'Pedro', 'Eustaquio']

n_names = 0 #number of names
for name in names:
    n_names = n_names + 1
    print('Hola', name) #name becomes each element of the list, then we print the greeting for each one
    
print(f'In total you greeted {n_names} people')

Hola Juan
Hola Maria
Hola Pedro
Hola Eustaquio
In total you greeted 4 people

If you took attention my last `print()` used another way of printing values alongside text, this is called an _f-string_. Here's an [article](https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/) if you want to know more.

In [66]:
names = ['Juan', 'Maria', 'Pedro', 'Eustaquio']

for idx, name in enumerate(names):
    print(idx+1, name)

1 Juan
2 Maria
3 Pedro
4 Eustaquio

In [68]:
names = ['Juan', 'Maria', 'Pedro', 'Eustaquio']
apellidos = ['Perez', 'Rojas', 'Alanoca']


for nombre, apellido in zip(names, apellidos):
    print("tu nombre es", nombre, "y tu apellido es", apellido)

tu nombre es Juan y tu apellido es Perez
tu nombre es Maria y tu apellido es Rojas
tu nombre es Pedro y tu apellido es Alanoca

<b><font color="blue" size=5>Exercise 2.1: It's raining cats and dogs!</font></b>

According to the [Glossary of the American Meteorological Society](https://glossary.ametsoc.org/wiki/Rain_day):

>In British climatology, a period of 24 hours, normally commencing at 0900 UTC, in which at least 0.01 in. or 0.2 mm of precipitation is recorded.


Given a list of recorded precipitations (in mm) for February of 2024 (we had a lot of rain), for each day print a message like "Day 5 was wet" or "Day 6 was not wet". 

Extra exercise: Count the number of wet days in the given month and/or the sum of all the precipitation in that month.

_Note: Data is partially modified for academic purposes, the total sum is the same as the real data._

In [72]:
#data for this exercise
feb2024 = [0,0.1,0.2,0.1,21.2,0.8,24,6,55,0.4,0,1,0.1,0.2,11.2,0.6,36.4,0,0,12.6,0,4.4,0.1,0,4.6,1,0.8,0]


counter_day = 1
wet_days = 0
total_rain = 0

for pday in feb2024: #iterating in the list
    #pday ---> Precipitation in a day (you can use i or j as iterators, it's 
    #          up to you)
    
    # Now we iterate over each precipitation in a day
    if pday > 0.1:
        print(f'Day {counter_day} was wet')
        wet_days = wet_days + 1 #adding 1 to the wet days count if there's one
    else:
        print(f'Day {counter_day} was NOT wet')
        
    #to add the rain in a day
    total_rain = total_rain + pday
        
    counter_day = counter_day + 1 #Advancing 1 day
    
print(f"In total we had {wet_days} wet days")
print(f"And we had {total_rain} mm accumulated")

Day 1 was NOT wet
Day 2 was NOT wet
Day 3 was wet
Day 4 was NOT wet
Day 5 was wet
Day 6 was wet
Day 7 was wet
Day 8 was wet
Day 9 was wet
Day 10 was wet
Day 11 was NOT wet
Day 12 was wet
Day 13 was NOT wet
Day 14 was wet
Day 15 was wet
Day 16 was wet
Day 17 was wet
Day 18 was NOT wet
Day 19 was NOT wet
Day 20 was wet
Day 21 was NOT wet
Day 22 was wet
Day 23 was NOT wet
Day 24 was NOT wet
Day 25 was wet
Day 26 was wet
Day 27 was wet
Day 28 was NOT wet
In total we had 17 wet days
And we had 180.8 mm accumulated

<details><summary><b><font color="blue">Click here for the solution to Exercise 2.1</font></b></summary>

```
counter_day = 1
wet_days = 0
total_rain = 0

for pday in feb2024: #iterating in the list
    #pday ---> Precipitation in a day (you can use i or j as iterators, it's 
    #          up to you)
    
    # Now we iterate over each precipitation in a day
    if pday > 0.1:
        print(f'Day {counter_day} was wet')
        wet_days = wet_days + 1 #adding 1 to the wet days count if there's one
    else:
        print(f'Day {counter_day} was NOT wet')
        
    #to add the rain in a day
    total_rain = total_rain + pday
        
    counter_day = counter_day + 1 #Advancing 1 day
    
print(f"In total we had {wet_days} wet days")
print(f"And we had {total_rain} mm accumulated")

```

### Some properties of lists
We have a pretty nice list of floats (feb2024), so we can give some properties or functions that are going to be useful:

 - `sum(feb2024)` will give us the sum of all the values in the list. But this can only happen if the values inside the list are of the same type.
 - `max(feb2024)` and `min(feb2024)` will give us the maximum and minimum value of the list, respectively
 - `feb2024[i]` where `i` is the position **index** gives us the _i-th_ element starting from 0 as the first.
 - `feb2024[j:k]` where `j` and `k` are positions, gives us the list trimmed from the _j-th_ **position** to the _k-1-th_ **position** (that means, the upper limit is exclusive).
 
As said before, position indexes start from 0 for the first element, but if you want to start from the end use the index `-1` for the last element, -2 for the second one and so on, in this case the lower limit is exclusive.

In [78]:
feb2024[10:15] #acceder a la lista

[0, 1, 0.1, 0.2, 11.2]

In [82]:
feb2024[-5:-3]

[0, 4.6]

<b><font color="blue" size=5>Exercise 2.2: How is the weather up there?</font></b>

Answer to the following question: Was the first or the last week of Feb the wettest? (More accumulated precipitation)

If you are quick try to do it for each week.

In [86]:
# write your solution here
feb2024 = [0,0.1,0.2,0.1,21.2,0.8,24,6,55,0.4,
           0,1,0.1,0.2,11.2,0.6,36.4,0,0,12.6,
           0,4.4,0.1,0,4.6,1,0.8,0]

primerasemana = sum(feb2024[0:7])
ultimasemana = sum(feb2024[-8:-1])
print("Primera semana:", primerasemana)
print("Ultimaa semana:", ultimasemana)

Primera semana: 46.4
Ultimaa semana: 10.9

In [88]:
sta = f'La ultima semana llovio {ultimasemana} milimetros'
print(sta)

La ultima semana llovio 10.9 milimetros

<details><summary><b><font color="blue">Click here for the solution to Exercise 2.2</font></b></summary>

```
firstweek = feb2024[0:7]
lastweek = feb2024[-8:-1]

print(f"The first week accumulated prcp was {sum(firstweek)}")
print(f"The last week accumulated prcp was {sum(lastweek)}")
```

### 2.4. Functions
Now, we will learn some things about functions, in fact, we've used them before, for example `print('Hello')` is the function `print` with the argument `'Hello'` (an string). It's function is to show that argument in screen.

_Can you name another function that we used before?_

Now, we can use functions that are way more complicated, they become handy when a process is repetitive or we want a part of the code to be processed separately, it's also useful when this part of the code will be used in another file (only in scripts).

Some functions can be blackboxes (you don't know what's happening inside), but probably for you the most important thing is that result.

### Creating a function

A function has a **name** (we can call it -> execute it by that name), **parameters**, that are inputs for the function and a **return**, which is the value that the function results.

<div>
<img src="figs/function.png" width="600"/>
</div>

For example, let's create a function to convert a decimal hour (ex: `12.5` would be 12:30), to a time format (HH:MM:SS), but return all these three values separately.

In [89]:
## Function to square a value


def elgeneradordecuadrados(x):
    y = x**2
    return y

elgeneradordecuadrados(10)

100

In [90]:
## Function decimal time to time


## tiempo = 15.123014702 horas
## sacar la forma decimal
## solodecimal = a - int(a)

def decimal_time(t):
    # t is the hour in decimal time
    if t <= 24: #just check if the time is valid
        hours = int(t)    #hours would be the integer part
        minutesd = (t - hours)*60  #minutes are the decimal part multiplied by 60
        minutes = int(minutesd)    #but the integer part of that calculation
        seconds = (minutesd - minutes)*60 #seconds can be decimal
        
    return hours, minutes, seconds #we will return all three values

## desempacar
h,m,s = decimal_time(12.39010)

To **call** the function we use its name and we can put a value there.

In [91]:
decimal_time(12.5)

(12, 30, 0.0)

But if we want to _unpack_ the values, we can assign three variables at the same time to the output of the function.

In [92]:
h, m, s = decimal_time(13.1241)
m

7

We can see that the variable `minutesd` doesn't exists, that is because a variable only used inside a function, is a **local variable**, and dies after the function is executed.

In [93]:
print(minutesd)   #uncomment it to test

NameError: name 'minutesd' is not defined

Can we put a value of 27 in the function? we used an if statement, but in that case the variables hour, minute and seconds, were not created, so the function will not know what to return us.

In [94]:
decimal_time(30)  #uncomment it to test

UnboundLocalError: local variable 'hours' referenced before assignment

So, to fix this we can put an else and return None values.

In [95]:
## Function decimal time to time

def decimal_time(t):
    # t is the hour in decimal time
    if t <= 24: #just check if the time is valid
        hours = int(t)    #hours would be the integer part
        minutesd = (t - hours)*60  #minutes are the decimal part multiplied by 60
        minutes = int(minutesd)    #but the integer part of that calculation
        seconds = (minutesd - minutes)*60 #seconds can be decimal
    else:
        hours = None
        minutes = None
        seconds = None
    return hours, minutes, seconds #we will return all three values

In [98]:
decimal_time(4.25)

(4, 15, 0.0)

There are a LOT of topics about functions, now we worked with simple ones, but some topics that I find relevant are:
 - [Default parameters](https://www.geeksforgeeks.org/default-arguments-in-python/): These are useful if a value is usually used as default, but if we want to change it, we only need to add a parameter when we call it.
 - [Recursive functions](https://www.programiz.com/python-programming/recursion): Are functions that call themselves, these are pretty useful in certain math problems.

<b><font color="blue" size=5>Exercise 3: Is it really cold?</font></b>  
_Based in the exercises in the [Python for Geographic Data Analysis](https://pythongis.org/part1/chapter-02/nb/06-exercises.html)_ webpage.


<div>
<img src="figs/memes/tahelao.jpg" width="200"/>
</div>

Below you can find a simple way to classify temperatures in Celsius.


|Category    |Temperature range                  | List name     |
|:-----------|:----------------------------------|:-------------:|
|Cold        |Less than -2 deg. C                | `cold`        |
|Slippery    |Greater than or equal to -2 deg. C | `slippery`    |
|            |and less than +2 deg. C            |               |
|Comfortable |Greater than or equal to +2 deg. C | `comfortable` |
|            |and less than +15 deg. C           |               |
|Warm        |Greater than or equal to +15 deg. C | `warm`        |


Write a function (call it whatever you want), to classify a certain temperature. But it must return `0` if cold, `1` if slippery, `2` if comfortable, `3` if warm.

**For advanced users:** Make the function work for Fahrenheit and Kelvin, assuming the default units are in Celsius but the passing units as a second parameter, for example `temp_classifier(10)` or `temp_classifier(10, 'C')` would calculate for Celcius, `temp_classifier(31, 'F')` for Fahrenheit, and the same for Kelvin (using `K`). Hint: Convert everything to Celsius and use a normal classification.

In [99]:
## Write here your function
def clasificador_de_temp(u):
    if u < -2:
        r = 0
    elif -2 <= u < 2:
        r = 1
    elif 2 <= u < 15:
        r = 2
    else:
        r = 3
    
    return r

In [102]:
## Test it here
clasificador_de_temp(-100)

0

<details><summary><b><font color="blue">Click here for the solution to Exercise 3</font></b></summary>

```
def temp_classifier(temp):
    if temp < -2:
        v = 0
    elif -2 <= temp < 2:
        v = 1
    elif 2 <= temp < 15:
        v = 2
    elif temp >= 15:
        v = 3
    else: #in case we have, for example, an string passed as temp
        v = None
    return v

temp_classifier(13)
```

## 2.4. Importing libraries

A library is a piece of code already written and (usually) well documented. We will use a lot of them! Such as pandas for tables, matplotlib for plotting and numpy for numerical calculations.

To import a library you put the following line (it's a good practice to put it always at the start of your script).

In [103]:
import pandas

# para utilizar cualquier cosa de pandas, tendría que:
#pandas.DataFrame()

You can give it an alias, if you don't want to write always `pandas`, there are common alias for the most used libraries:

In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import xarray as xr
import scipy

In [105]:
from numpy import pi as pi

3.141592653589793

And to use any of the methods, classes or functions within that library, you write `pd.function_to_use()`. That is the most simple way to put it!

### Importing functions from another file

We will use your function to classify temperatures, and I wrote a (misterious) function to know the most long consecutive type of day (for example, we had a 10 consecutive record of warm/cold days!)

But here is the plot twist, you won't know how I did it, you only care for the result.

My function is located at the file `lud_script.py`, in the same folder, and function is called `record_temp()`, we can call it by

In [106]:
from lud_script import record_temp #para importar solo record_temp

In [107]:
from lud_script import *

To read which parameters it uses, we can ask for help (literally)

In [108]:
help(record_temp)

Help on function record_temp in module lud_script:

record_temp(list_temps, function, classification=3)
    Calculates the maximum record of consecutive days with that classification of temperature given a list.

    Args:
        list_temps (list): List of temperatures
        function (function): Function to classify them (exercise 3)
        classification (int, optional): Type of day to get the max record. Defaults to 3.

    Returns:
        Max record (int): Maximum number of consecutive days with that classification. If there were not prints a message and returns 0.

We can see that it needs three arguments (the last one optional):
 - A list of temperatures
 - A function (the one we did before to classify temperatures)
 - The type of day we want to see the max number of consecutive days of
 
The last one is optional, if we don't pass it to the function, it will assume it's for warm days (3).

Below I put a test list of temperatures:

In [109]:
tst_lst = [-10, -10, -10, -10, 5, 5, 20, 40, 50, 16, 70, 16, 17, 18]

Last step! Let's call this function

In [111]:
# it can't run without knowing your function!
record_temp(list_temps = tst_lst, function = clasificador_de_temp,
           classification=0)

4

<b><font color="blue" size=5>Exercise 4: Ran out of names...</font></b>  

 1. Create a list of fake temperatures to test the function
 2. Call it for each type of day
 3. Think of a way on how the algorithm works
 4. How this function would be useful for scientific purposes? Let's debate it

In [ ]:
## write your solution here

<sup>Laboratory for Atmospheric Physics - UMSA</sup>  
<sup>May 2024. Written for educational purposes.</sup>